.small-text {
  font-size: 13px;
}

.div-facilities {
  width: 325px;
}

.div-news {
  width: 325px;
}

@media (min-width: 768px) {
  .div-news {
    width: 696px;
  }
}

.verde-limao {
  color: #daff01;
}

.btn.botao-lilas {
  background-color: #9353ff !important;
}

.posicao {
  top: 60%;
}

@media (max-width: 767px) {
  .posicao {
    top: 60%;
  }
}
